<p id="notice"><%= notice %></p>

<p>
  <strong>Cin titulo:</strong>
  <%= @canalingreso.cin_titulo %>
</p>

<p>
  <strong>Cin desc:</strong>
  <%= @canalingreso.cin_desc %>
</p>

<%= link_to 'Edit', edit_canalingreso_path(@canalingreso) %> |
<%= link_to 'Back', canalingresos_path %>
