<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for(@principal, remote: true) do |f| %>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>Dejanos tu Teléfono o Mail<br/>Para llamarlo o enviarle Información</h3>
      </div>

      <div class="modal-body">

        <ul class="errors"></ul>

        <div class="row">
          <div class="field col-sm-6 col-md-6">
            <%= f.text_field :con_nombre, :required => true, :placeholder => " Ingrese su Nombre...", :class=>"form-control" %>
          </div>

          <div class="field col-sm-6 col-md-6">
            <%= f.text_field :con_telefono, :required => true, :placeholder => "Ingrese su Teléfono...", :class=>"form-control" %>
          </div>
        </div>

        <div class="field">
          <%= f.text_field :con_mail, :required => true, :placeholder => "Ingrese su email...", :class=>"form-control" %>
        </div>

      </div>

      <div class="modal-footer">
        <%= f.submit 'Enviar', :class=>"btn btn-outline-inverse btn-md btn-idx3", :id=>"gc-aceptar" %>
<!-- 
        <%= link_to "Cancelar", "#", class: "btn btn-outline-inverse btn-md btn-idx3", data: {dismiss: "modal"} %>
-->
      </div>

    <% end %>
  </div>
</div>
