					<div id="tit00" class="post-summary">
					<!-- CUARTO subtitulo  -->

						<h3><%= @post_subtit00 %></h3>
						<!-- CUARTO subtitulo >>> PRIMER texto  -->
					    <p> <a href=<%= @post_link00a2 %> ><%= @post_link00a1 %></a> </p>
					    <p> <a href=<%= @post_link00b2 %> ><%= @post_link00b1 %></a> </p>
					    <p> <a href=<%= @post_link00c2 %> ><%= @post_link00c1 %></a> </p>
					    <p> <a href=<%= @post_link00d2 %> ><%= @post_link00d1 %></a> </p>
					    <p> <a href=<%= @post_link00e2 %> ><%= @post_link00e1 %></a> </p>
					    <p> <a href=<%= @post_link00f2 %> ><%= @post_link00f1 %></a> </p>
					    <p> <a href=<%= @post_link00g2 %> ><%= @post_link00g1 %></a> </p>
					    <p> <a href=<%= @post_link00h2 %> ><%= @post_link00h1 %></a> </p>

					</div>

					<div id="tit01" class="post-summary">
					<!-- PRIMER subtitulo  -->

						<h3><%= @post_subtit02a %><span><%= @post_subtit02s %></span><%= @post_subtit02b %></h3>
						<!-- PRIMER subtitulo >>> PRIMER texto  -->
						<p><%= @post_texto02a %></p>
					    <ul type="circle">
					      <% if @post_texto02a1 != "" %>
						      <li>
								<p><%= @post_texto02a1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02a2 != "" %>
						      <li>
								<p><%= @post_texto02a2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02a3 != "" %>
						      <li>
								<p><%= @post_texto02a3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02a4 != "" %>
						      <li>
								<p><%= @post_texto02a4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02a5 != "" %>
						      <li>
								<p><%= @post_texto02a5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- PRIMER subtitulo >>> SEGUNDO texto  -->
						<p><%= @post_texto02b %></p>
					    <ul type="circle">
					      <% if @post_texto02b1 != "" %>
						      <li>
								<p><%= @post_texto02b1 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto02b2 != "" %>
						      <li>
								<p><%= @post_texto02b2 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto02b3 != "" %>
						      <li>
								<p><%= @post_texto02b3 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto02b4 != "" %>
						      <li>
								<p><%= @post_texto02b4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02b5 != "" %>
						      <li>
								<p><%= @post_texto02b5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- PRIMER subtitulo >>> TERCER texto  -->
						<p><%= @post_texto02c %></p>
					    <ul type="circle">
					      <% if @post_texto02c1 != "" %>
						      <li>
								<p><%= @post_texto02c1 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto02c2 != "" %>
						      <li>
								<p><%= @post_texto02c2 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto02c3 != "" %>
						      <li>
								<p><%= @post_texto02c3 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto02c4 != "" %>
						      <li>
								<p><%= @post_texto02c4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02c5 != "" %>
						      <li>
								<p><%= @post_texto02c5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- PRIMER subtitulo >>> CUARTO texto  -->
						<p><%= @post_texto02d %></p>
					    <ul type="circle">
					      <% if @post_texto02d1 != "" %>
						      <li>
								<p><%= @post_texto02d1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02d2 != "" %>
						      <li>
								<p><%= @post_texto02d2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02d3 != "" %>
						      <li>
								<p><%= @post_texto02d3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02d4 != "" %>
						      <li>
								<p><%= @post_texto02d4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02d5 != "" %>
						      <li>
								<p><%= @post_texto02d5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- PRIMER subtitulo >>> QUINTO texto  -->
						<p><%= @post_texto02e %></p>
					    <ul type="circle">
					      <% if @post_texto02e1 != "" %>
						      <li>
								<p><%= @post_texto02e1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02e2 != "" %>
						      <li>
								<p><%= @post_texto02e2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02e3 != "" %>
						      <li>
								<p><%= @post_texto02e3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02e4 != "" %>
						      <li>
								<p><%= @post_texto02e4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02e5 != "" %>
						      <li>
								<p><%= @post_texto02e5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- PRIMER subtitulo >>> SEXTO texto  -->
						<p><%= @post_texto02f %></p>
					    <ul type="circle">
					      <% if @post_texto02f1 != "" %>
						      <li>
								<p><%= @post_texto02f1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02f2 != "" %>
						      <li>
								<p><%= @post_texto02f2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02f3 != "" %>
						      <li>
								<p><%= @post_texto02f3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02f4 != "" %>
						      <li>
								<p><%= @post_texto02f4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02f5 != "" %>
						      <li>
								<p><%= @post_texto02f5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- PRIMER subtitulo >>> SEPTIMO texto  -->
						<p><%= @post_texto02g %></p>
					    <ul type="circle">
					      <% if @post_texto02g1 != "" %>
						      <li>
								<p><%= @post_texto02g1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02g2 != "" %>
						      <li>
								<p><%= @post_texto02g2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02g3 != "" %>
						      <li>
								<p><%= @post_texto02g3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02g4 != "" %>
						      <li>
								<p><%= @post_texto02g4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02g5 != "" %>
						      <li>
								<p><%= @post_texto02g5 %></p>
						      </li>
						  <% end %>
					    </ul>
					</div>

					<div id="tit02" class="post-summary">
					<!-- SEGUNDO subtitulo  -->

						<h3><%= @post_subtit03a %><span><%= @post_subtit03s %></span><%= @post_subtit03b %></h3>
						<!-- SEGUNDO subtitulo >>> PRIMER texto  -->
						<p><%= @post_texto03a %></p>
					    <ul type="circle">
					      <% if @post_texto03a1 != "" %>
						      <li>
								<p><%= @post_texto03a1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03a2 != "" %>
						      <li>
								<p><%= @post_texto03a2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03a3 != "" %>
						      <li>
								<p><%= @post_texto03a3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03a4 != "" %>
						      <li>
								<p><%= @post_texto03a4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03a5 != "" %>
						      <li>
								<p><%= @post_texto03a5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- SEGUNDO subtitulo >>> SEGUNDO texto  -->
						<p><%= @post_texto03b %></p>
					    <ul type="circle">
					      <% if @post_texto03b1 != "" %>
						      <li>
								<p><%= @post_texto03b1 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto03b2 != "" %>
						      <li>
								<p><%= @post_texto03b2 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto03b3 != "" %>
						      <li>
								<p><%= @post_texto03b3 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto03b4 != "" %>
						      <li>
								<p><%= @post_texto03b4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03b5 != "" %>
						      <li>
								<p><%= @post_texto03b5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- SEGUNDO subtitulo >>> TERCER texto  -->
						<p><%= @post_texto03c %></p>
					    <ul type="circle">
					      <% if @post_texto03c1 != "" %>
						      <li>
								<p><%= @post_texto03c1 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto03c2 != "" %>
						      <li>
								<p><%= @post_texto03c2 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto03c3 != "" %>
						      <li>
								<p><%= @post_texto03c3 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto03c4 != "" %>
						      <li>
								<p><%= @post_texto03c4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03c5 != "" %>
						      <li>
								<p><%= @post_texto03c5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- SEGUNDO subtitulo >>> CUARTO texto  -->
						<p><%= @post_texto03d %></p>
					    <ul type="circle">
					      <% if @post_texto03d1 != "" %>
						      <li>
								<p><%= @post_texto03d1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03d2 != "" %>
						      <li>
								<p><%= @post_texto03d2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03d3 != "" %>
						      <li>
								<p><%= @post_texto03d3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03d4 != "" %>
						      <li>
								<p><%= @post_texto03d4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03d5 != "" %>
						      <li>
								<p><%= @post_texto03d5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- SEGUNDO subtitulo >>> QUINTO texto  -->
						<p><%= @post_texto03e %></p>
					    <ul type="circle">
					      <% if @post_texto03e1 != "" %>
						      <li>
								<p><%= @post_texto03e1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03e2 != "" %>
						      <li>
								<p><%= @post_texto03e2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03e3 != "" %>
						      <li>
								<p><%= @post_texto03e3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03e4 != "" %>
						      <li>
								<p><%= @post_texto03e4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03e5 != "" %>
						      <li>
								<p><%= @post_texto03e5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- SEGUNDO subtitulo >>> SEXTO texto  -->
						<p><%= @post_texto03f %></p>
					    <ul type="circle">
					      <% if @post_texto03f1 != "" %>
						      <li>
								<p><%= @post_texto03f1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03f2 != "" %>
						      <li>
								<p><%= @post_texto03f2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03f3 != "" %>
						      <li>
								<p><%= @post_texto03f3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03f4 != "" %>
						      <li>
								<p><%= @post_texto03f4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03f5 != "" %>
						      <li>
								<p><%= @post_texto03f5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- SEGUNDO subtitulo >>> SEPTIMO texto  -->
						<p><%= @post_texto03g %></p>
					    <ul type="circle">
					      <% if @post_texto03g1 != "" %>
						      <li>
								<p><%= @post_texto03g1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03g2 != "" %>
						      <li>
								<p><%= @post_texto03g2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03g3 != "" %>
						      <li>
								<p><%= @post_texto03g3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03g4 != "" %>
						      <li>
								<p><%= @post_texto03g4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03g5 != "" %>
						      <li>
								<p><%= @post_texto03g5 %></p>
						      </li>
						  <% end %>
					    </ul>
					</div>

					<div id="tit03" class="post-summary">
					<!-- TERCER subtitulo  -->

						<h3><%= @post_subtit04a %><span><%= @post_subtit04s %></span><%= @post_subtit04b %></h3>
						<!-- TERCER subtitulo >>> PRIMER texto  -->
						<p><%= @post_texto04a %></p>
					    <ul type="circle">
					      <% if @post_texto04a1 != "" %>
						      <li>
								<p><%= @post_texto04a1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04a2 != "" %>
						      <li>
								<p><%= @post_texto04a2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04a3 != "" %>
						      <li>
								<p><%= @post_texto04a3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04a4 != "" %>
						      <li>
								<p><%= @post_texto04a4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04a5 != "" %>
						      <li>
								<p><%= @post_texto04a5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- TERCER subtitulo >>> SEGUNDO texto  -->
						<p><%= @post_texto04b %></p>
					    <ul type="circle">
					      <% if @post_texto04b1 != "" %>
						      <li>
								<p><%= @post_texto04b1 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto04b2 != "" %>
						      <li>
								<p><%= @post_texto04b2 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto04b3 != "" %>
						      <li>
								<p><%= @post_texto04b3 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto04b4 != "" %>
						      <li>
								<p><%= @post_texto04b4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04b5 != "" %>
						      <li>
								<p><%= @post_texto04b5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- TERCER subtitulo >>> TERCER texto  -->
						<p><%= @post_texto04c %></p>
					    <ul type="circle">
					      <% if @post_texto04c1 != "" %>
						      <li>
								<p><%= @post_texto04c1 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto04c2 != "" %>
						      <li>
								<p><%= @post_texto04c2 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto04c3 != "" %>
						      <li>
								<p><%= @post_texto04c3 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto04c4 != "" %>
						      <li>
								<p><%= @post_texto04c4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04c5 != "" %>
						      <li>
								<p><%= @post_texto04c5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- TERCER subtitulo >>> CUARTO texto  -->
						<p><%= @post_texto04d %></p>
					    <ul type="circle">
					      <% if @post_texto04d1 != "" %>
						      <li>
								<p><%= @post_texto04d1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04d2 != "" %>
						      <li>
								<p><%= @post_texto04d2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04d3 != "" %>
						      <li>
								<p><%= @post_texto04d3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04d4 != "" %>
						      <li>
								<p><%= @post_texto04d4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04d5 != "" %>
						      <li>
								<p><%= @post_texto04d5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- TERCER subtitulo >>> QUINTO texto  -->
						<p><%= @post_texto04e %></p>
					    <ul type="circle">
					      <% if @post_texto04e1 != "" %>
						      <li>
								<p><%= @post_texto04e1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04e2 != "" %>
						      <li>
								<p><%= @post_texto04e2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04e3 != "" %>
						      <li>
								<p><%= @post_texto04e3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04e4 != "" %>
						      <li>
								<p><%= @post_texto04e4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04e5 != "" %>
						      <li>
								<p><%= @post_texto04e5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- TERCER subtitulo >>> SEXTO texto  -->
						<p><%= @post_texto04f %></p>
					    <ul type="circle">
					      <% if @post_texto04f1 != "" %>
						      <li>
								<p><%= @post_texto04f1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04f2 != "" %>
						      <li>
								<p><%= @post_texto04f2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04f3 != "" %>
						      <li>
								<p><%= @post_texto04f3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04f4 != "" %>
						      <li>
								<p><%= @post_texto04f4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04f5 != "" %>
						      <li>
								<p><%= @post_texto04f5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- TERCER subtitulo >>> SEPTIMO texto  -->
						<p><%= @post_texto04g %></p>
					    <ul type="circle">
					      <% if @post_texto04g1 != "" %>
						      <li>
								<p><%= @post_texto04g1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04g2 != "" %>
						      <li>
								<p><%= @post_texto04g2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04g3 != "" %>
						      <li>
								<p><%= @post_texto04g3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04g4 != "" %>
						      <li>
								<p><%= @post_texto04g4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04g5 != "" %>
						      <li>
								<p><%= @post_texto04g5 %></p>
						      </li>
						  <% end %>
					    </ul>
					</div>

					<div id="tit04" class="post-summary">
					<!-- CUARTO subtitulo  -->

						<h3><%= @post_subtit05a %><span><%= @post_subtit05s %></span><%= @post_subtit05b %></h3>
						<!-- CUARTO subtitulo >>> PRIMER texto  -->
						<p><%= @post_texto05a %></p>
					    <ul type="circle">
					      <% if @post_texto05a1 != "" %>
						      <li>
								<p><%= @post_texto05a1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05a2 != "" %>
						      <li>
								<p><%= @post_texto05a2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05a3 != "" %>
						      <li>
								<p><%= @post_texto05a3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05a4 != "" %>
						      <li>
								<p><%= @post_texto05a4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05a5 != "" %>
						      <li>
								<p><%= @post_texto05a5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- CUARTO subtitulo >>> SEGUNDO texto  -->
						<p><%= @post_texto05b %></p>
					    <ul type="circle">
					      <% if @post_texto05b1 != "" %>
						      <li>
								<p><%= @post_texto05b1 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto05b2 != "" %>
						      <li>
								<p><%= @post_texto05b2 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto05b3 != "" %>
						      <li>
								<p><%= @post_texto05b3 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto05b4 != "" %>
						      <li>
								<p><%= @post_texto05b4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05b5 != "" %>
						      <li>
								<p><%= @post_texto05b5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- CUARTO subtitulo >>> CUARTO texto  -->
						<p><%= @post_texto05c %></p>
					    <ul type="circle">
					      <% if @post_texto05c1 != "" %>
						      <li>
								<p><%= @post_texto05c1 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto05c2 != "" %>
						      <li>
								<p><%= @post_texto05c2 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto05c3 != "" %>
						      <li>
								<p><%= @post_texto05c3 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto05c4 != "" %>
						      <li>
								<p><%= @post_texto05c4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05c5 != "" %>
						      <li>
								<p><%= @post_texto05c5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- CUARTO subtitulo >>> CUARTO texto  -->
						<p><%= @post_texto05d %></p>
					    <ul type="circle">
					      <% if @post_texto05d1 != "" %>
						      <li>
								<p><%= @post_texto05d1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05d2 != "" %>
						      <li>
								<p><%= @post_texto05d2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05d3 != "" %>
						      <li>
								<p><%= @post_texto05d3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05d4 != "" %>
						      <li>
								<p><%= @post_texto05d4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05d5 != "" %>
						      <li>
								<p><%= @post_texto05d5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- CUARTO subtitulo >>> QUINTO texto  -->
						<p><%= @post_texto05e %></p>
					    <ul type="circle">
					      <% if @post_texto05e1 != "" %>
						      <li>
								<p><%= @post_texto05e1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05e2 != "" %>
						      <li>
								<p><%= @post_texto05e2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05e3 != "" %>
						      <li>
								<p><%= @post_texto05e3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05e4 != "" %>
						      <li>
								<p><%= @post_texto05e4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05e5 != "" %>
						      <li>
								<p><%= @post_texto05e5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- CUARTO subtitulo >>> SEXTO texto  -->
						<p><%= @post_texto05f %></p>
					    <ul type="circle">
					      <% if @post_texto05f1 != "" %>
						      <li>
								<p><%= @post_texto05f1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05f2 != "" %>
						      <li>
								<p><%= @post_texto05f2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05f3 != "" %>
						      <li>
								<p><%= @post_texto05f3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05f4 != "" %>
						      <li>
								<p><%= @post_texto05f4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05f5 != "" %>
						      <li>
								<p><%= @post_texto05f5 %></p>
						      </li>
						  <% end %>
					    </ul>
						<!-- CUARTO subtitulo >>> SEPTIMO texto  -->
						<p><%= @post_texto05g %></p>
					    <ul type="circle">
					      <% if @post_texto05g1 != "" %>
						      <li>
								<p><%= @post_texto05g1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05g2 != "" %>
						      <li>
								<p><%= @post_texto05g2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05g3 != "" %>
						      <li>
								<p><%= @post_texto05g3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05g4 != "" %>
						      <li>
								<p><%= @post_texto05g4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto05g5 != "" %>
						      <li>
								<p><%= @post_texto05g5 %></p>
						      </li>
						  <% end %>
					    </ul>
					</div>

					<div id="tit05" class="post-summary">
					<!-- QUINTO subtitulo  -->

						<h3><%= @post_subtit06a %><span><%= @post_subtit06s %></span><%= @post_subtit06b %></h3>
						<!-- QUINTO subtitulo >>> textos  -->
						<p><%= @post_texto06a %></p>
						<p><%= @post_texto06b %></p>
						<p><%= @post_texto06c %></p>
						<p><%= @post_texto06d %></p>
						<p><%= @post_texto06e %></p>
						<p><%= @post_texto06f %></p>
						<p><%= @post_texto06g %></p>
						<p><%= @post_texto06h %></p>
					</div>

					<div id="tit99" class="post-summary">
					<!-- ULTIMO subtitulo  -->

						<h3><%= @post_subtit99 %></h3>
					    <p> <a href=<%= @post_link99a2 %> target="_blank"><%= @post_link99a1 %></a> </p>
					    <p> <a href=<%= @post_link99b2 %> target="_blank"><%= @post_link99b1 %></a> </p>
					    <p> <a href=<%= @post_link99c2 %> target="_blank"><%= @post_link99c1 %></a> </p>
					    <p> <a href=<%= @post_link99d2 %> target="_blank"><%= @post_link99d1 %></a> </p>
					    <p> <a href=<%= @post_link99e2 %> target="_blank"><%= @post_link99e1 %></a> </p>
					    <p> <a href=<%= @post_link99f2 %> target="_blank"><%= @post_link99f1 %></a> </p>
					    <p> <a href=<%= @post_link99g2 %> target="_blank"><%= @post_link99g1 %></a> </p>
					    <p> <a href=<%= @post_link99h2 %> target="_blank"><%= @post_link99h1 %></a> </p>

					    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
					</div>
