<div id="product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div id="div-blog" >

	<div class="section section-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1><%= @post_titulo %></h1>
				</div>
			</div>
		</div>
	</div>

	<!-- Posts List -->
	<div class="section blog-posts-wrapper">
		<div class="container">
			<div class="col-lg-3 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="blog-post">
					<div class="post-title">
						<h3>Titulos</h3>
					</div>
					<div class="post-title">
						<ul class="list-group categorias">
						  <li class="list-group-item list-group-item-info">
						    <%= link_to  '¿A quién está Dirigido?', "#tit01", class: "mov-suave" %>
						  </li>
						  <li class="list-group-item list-group-item-info">
						    <%= link_to  'Introducción', "#tit02", class: "mov-suave" %>
						  </li>
						  <li class="list-group-item list-group-item-info">
						    <%= link_to  'El tamaño Justo', "#tit03", class: "mov-suave" %>
						  </li>
						  <li class="list-group-item list-group-item-info">
						    <%= link_to  'Links', "#tit03", class: "mov-suave" %>
						  </li>
						  <li class="list-group-item active">
						    <span class="badge">01</span>
							<%= link_to "Temas Relacionados", new_principal_path(:motivo => "Blog - Post - Imagenes"), remote: true, style: "color: white;" %>
						  </li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Post -->
			<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
				<div class="blog-post">
					<div class="post-title">
						<h2><%= @post_subtit01a %><span><%= @post_subtit01s %></span><%= @post_subtit01b %></h2>
					</div>

					<%= link_to image_tag(@post_imagen01, class: "img-responsive post-image2"), new_principal_path(:motivo => "Blog - Post - Imagenes"), remote: true %>

					<div id="tit01" class="post-summary">
					<!-- PRIMER subtitulo  -->

						<h3><%= @post_subtit02a %><span><%= @post_subtit02s %></span><%= @post_subtit02b %></h3>
						<!-- PRIMER subtitulo >>> PRIMER texto  -->
						<p><%= @post_texto02a %></p>
					    <ol>
					      <% if @post_texto02a1 != "" %>
						      <li>
								<p><%= @post_texto02a1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02a2 != "" %>
						      <li>
								<p><%= @post_texto02a2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02a3 != "" %>
						      <li>
								<p><%= @post_texto02a3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02a4 != "" %>
						      <li>
								<p><%= @post_texto02a4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02a5 != "" %>
						      <li>
								<p><%= @post_texto02a5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- PRIMER subtitulo >>> SEGUNDO texto  -->
						<p><%= @post_texto02b %></p>
					    <ol>
					      <% if @post_texto02b1 != "" %>
						      <li>
								<p><%= @post_texto02b1 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto02b2 != "" %>
						      <li>
								<p><%= @post_texto02b2 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto02b3 != "" %>
						      <li>
								<p><%= @post_texto02b3 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto02b4 != "" %>
						      <li>
								<p><%= @post_texto02b4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02b5 != "" %>
						      <li>
								<p><%= @post_texto02b5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- PRIMER subtitulo >>> TERCER texto  -->
						<p><%= @post_texto02c %></p>
					    <ol>
					      <% if @post_texto02c1 != "" %>
						      <li>
								<p><%= @post_texto02c1 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto02c2 != "" %>
						      <li>
								<p><%= @post_texto02c2 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto02c3 != "" %>
						      <li>
								<p><%= @post_texto02c3 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto02c4 != "" %>
						      <li>
								<p><%= @post_texto02c4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02c5 != "" %>
						      <li>
								<p><%= @post_texto02c5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- PRIMER subtitulo >>> CUARTO texto  -->
						<p><%= @post_texto02d %></p>
					    <ol>
					      <% if @post_texto02d1 != "" %>
						      <li>
								<p><%= @post_texto02d1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02d2 != "" %>
						      <li>
								<p><%= @post_texto02d2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02d3 != "" %>
						      <li>
								<p><%= @post_texto02d3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02d4 != "" %>
						      <li>
								<p><%= @post_texto02d4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02d5 != "" %>
						      <li>
								<p><%= @post_texto02d5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- PRIMER subtitulo >>> QUINTO texto  -->
						<p><%= @post_texto02e %></p>
					    <ol>
					      <% if @post_texto02e1 != "" %>
						      <li>
								<p><%= @post_texto02e1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02e2 != "" %>
						      <li>
								<p><%= @post_texto02e2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02e3 != "" %>
						      <li>
								<p><%= @post_texto02e3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02e4 != "" %>
						      <li>
								<p><%= @post_texto02e4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02e5 != "" %>
						      <li>
								<p><%= @post_texto02e5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- PRIMER subtitulo >>> SEXTO texto  -->
						<p><%= @post_texto02f %></p>
					    <ol>
					      <% if @post_texto02f1 != "" %>
						      <li>
								<p><%= @post_texto02f1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02f2 != "" %>
						      <li>
								<p><%= @post_texto02f2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02f3 != "" %>
						      <li>
								<p><%= @post_texto02f3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02f4 != "" %>
						      <li>
								<p><%= @post_texto02f4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02f5 != "" %>
						      <li>
								<p><%= @post_texto02f5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- PRIMER subtitulo >>> SEPTIMO texto  -->
						<p><%= @post_texto02g %></p>
					    <ol>
					      <% if @post_texto02g1 != "" %>
						      <li>
								<p><%= @post_texto02g1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02g2 != "" %>
						      <li>
								<p><%= @post_texto02g2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02g3 != "" %>
						      <li>
								<p><%= @post_texto02g3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02g4 != "" %>
						      <li>
								<p><%= @post_texto02g4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto02g5 != "" %>
						      <li>
								<p><%= @post_texto02g5 %></p>
						      </li>
						  <% end %>
					    </ol>
					</div>

					<div id="tit02" class="post-summary">
					<!-- SEGUNDO subtitulo  -->

						<h3><%= @post_subtit03a %><span><%= @post_subtit03s %></span><%= @post_subtit03b %></h3>
						<!-- SEGUNDO subtitulo >>> PRIMER texto  -->
						<p><%= @post_texto03a %></p>
					    <ol>
					      <% if @post_texto03a1 != "" %>
						      <li>
								<p><%= @post_texto03a1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03a2 != "" %>
						      <li>
								<p><%= @post_texto03a2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03a3 != "" %>
						      <li>
								<p><%= @post_texto03a3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03a4 != "" %>
						      <li>
								<p><%= @post_texto03a4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03a5 != "" %>
						      <li>
								<p><%= @post_texto03a5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- SEGUNDO subtitulo >>> SEGUNDO texto  -->
						<p><%= @post_texto03b %></p>
					    <ol>
					      <% if @post_texto03b1 != "" %>
						      <li>
								<p><%= @post_texto03b1 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto03b2 != "" %>
						      <li>
								<p><%= @post_texto03b2 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto03b3 != "" %>
						      <li>
								<p><%= @post_texto03b3 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto03b4 != "" %>
						      <li>
								<p><%= @post_texto03b4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03b5 != "" %>
						      <li>
								<p><%= @post_texto03b5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- SEGUNDO subtitulo >>> TERCER texto  -->
						<p><%= @post_texto03c %></p>
					    <ol>
					      <% if @post_texto03c1 != "" %>
						      <li>
								<p><%= @post_texto03c1 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto03c2 != "" %>
						      <li>
								<p><%= @post_texto03c2 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto03c3 != "" %>
						      <li>
								<p><%= @post_texto03c3 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto03c4 != "" %>
						      <li>
								<p><%= @post_texto03c4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03c5 != "" %>
						      <li>
								<p><%= @post_texto03c5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- SEGUNDO subtitulo >>> CUARTO texto  -->
						<p><%= @post_texto03d %></p>
					    <ol>
					      <% if @post_texto03d1 != "" %>
						      <li>
								<p><%= @post_texto03d1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03d2 != "" %>
						      <li>
								<p><%= @post_texto03d2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03d3 != "" %>
						      <li>
								<p><%= @post_texto03d3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03d4 != "" %>
						      <li>
								<p><%= @post_texto03d4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03d5 != "" %>
						      <li>
								<p><%= @post_texto03d5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- SEGUNDO subtitulo >>> QUINTO texto  -->
						<p><%= @post_texto03e %></p>
					    <ol>
					      <% if @post_texto03e1 != "" %>
						      <li>
								<p><%= @post_texto03e1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03e2 != "" %>
						      <li>
								<p><%= @post_texto03e2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03e3 != "" %>
						      <li>
								<p><%= @post_texto03e3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03e4 != "" %>
						      <li>
								<p><%= @post_texto03e4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03e5 != "" %>
						      <li>
								<p><%= @post_texto03e5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- SEGUNDO subtitulo >>> SEXTO texto  -->
						<p><%= @post_texto03f %></p>
					    <ol>
					      <% if @post_texto03f1 != "" %>
						      <li>
								<p><%= @post_texto03f1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03f2 != "" %>
						      <li>
								<p><%= @post_texto03f2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03f3 != "" %>
						      <li>
								<p><%= @post_texto03f3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03f4 != "" %>
						      <li>
								<p><%= @post_texto03f4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03f5 != "" %>
						      <li>
								<p><%= @post_texto03f5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- SEGUNDO subtitulo >>> SEPTIMO texto  -->
						<p><%= @post_texto03g %></p>
					    <ol>
					      <% if @post_texto03g1 != "" %>
						      <li>
								<p><%= @post_texto03g1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03g2 != "" %>
						      <li>
								<p><%= @post_texto03g2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03g3 != "" %>
						      <li>
								<p><%= @post_texto03g3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03g4 != "" %>
						      <li>
								<p><%= @post_texto03g4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto03g5 != "" %>
						      <li>
								<p><%= @post_texto03g5 %></p>
						      </li>
						  <% end %>
					    </ol>
					</div>

					<div id="tit03" class="post-summary">
					<!-- TERCER subtitulo  -->

						<h3><%= @post_subtit04a %><span><%= @post_subtit04s %></span><%= @post_subtit04b %></h3>
						<!-- TERCER subtitulo >>> PRIMER texto  -->
						<p><%= @post_texto04a %></p>
					    <ol>
					      <% if @post_texto04a1 != "" %>
						      <li>
								<p><%= @post_texto04a1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04a2 != "" %>
						      <li>
								<p><%= @post_texto04a2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04a3 != "" %>
						      <li>
								<p><%= @post_texto04a3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04a4 != "" %>
						      <li>
								<p><%= @post_texto04a4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04a5 != "" %>
						      <li>
								<p><%= @post_texto04a5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- TERCER subtitulo >>> SEGUNDO texto  -->
						<p><%= @post_texto04b %></p>
					    <ol>
					      <% if @post_texto04b1 != "" %>
						      <li>
								<p><%= @post_texto04b1 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto04b2 != "" %>
						      <li>
								<p><%= @post_texto04b2 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto04b3 != "" %>
						      <li>
								<p><%= @post_texto04b3 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto04b4 != "" %>
						      <li>
								<p><%= @post_texto04b4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04b5 != "" %>
						      <li>
								<p><%= @post_texto04b5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- TERCER subtitulo >>> TERCER texto  -->
						<p><%= @post_texto04c %></p>
					    <ol>
					      <% if @post_texto04c1 != "" %>
						      <li>
								<p><%= @post_texto04c1 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto04c2 != "" %>
						      <li>
								<p><%= @post_texto04c2 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto04c3 != "" %>
						      <li>
								<p><%= @post_texto04c3 %></p>
						      </li>
							  <% end %>
					      <% if @post_texto04c4 != "" %>
						      <li>
								<p><%= @post_texto04c4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04c5 != "" %>
						      <li>
								<p><%= @post_texto04c5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- TERCER subtitulo >>> CUARTO texto  -->
						<p><%= @post_texto04d %></p>
					    <ol>
					      <% if @post_texto04d1 != "" %>
						      <li>
								<p><%= @post_texto04d1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04d2 != "" %>
						      <li>
								<p><%= @post_texto04d2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04d3 != "" %>
						      <li>
								<p><%= @post_texto04d3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04d4 != "" %>
						      <li>
								<p><%= @post_texto04d4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04d5 != "" %>
						      <li>
								<p><%= @post_texto04d5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- TERCER subtitulo >>> QUINTO texto  -->
						<p><%= @post_texto04e %></p>
					    <ol>
					      <% if @post_texto04e1 != "" %>
						      <li>
								<p><%= @post_texto04e1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04e2 != "" %>
						      <li>
								<p><%= @post_texto04e2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04e3 != "" %>
						      <li>
								<p><%= @post_texto04e3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04e4 != "" %>
						      <li>
								<p><%= @post_texto04e4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04e5 != "" %>
						      <li>
								<p><%= @post_texto04e5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- TERCER subtitulo >>> SEXTO texto  -->
						<p><%= @post_texto04f %></p>
					    <ol>
					      <% if @post_texto04f1 != "" %>
						      <li>
								<p><%= @post_texto04f1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04f2 != "" %>
						      <li>
								<p><%= @post_texto04f2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04f3 != "" %>
						      <li>
								<p><%= @post_texto04f3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04f4 != "" %>
						      <li>
								<p><%= @post_texto04f4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04f5 != "" %>
						      <li>
								<p><%= @post_texto04f5 %></p>
						      </li>
						  <% end %>
					    </ol>
						<!-- TERCER subtitulo >>> SEPTIMO texto  -->
						<p><%= @post_texto04g %></p>
					    <ol>
					      <% if @post_texto04g1 != "" %>
						      <li>
								<p><%= @post_texto04g1 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04g2 != "" %>
						      <li>
								<p><%= @post_texto04g2 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04g3 != "" %>
						      <li>
								<p><%= @post_texto04g3 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04g4 != "" %>
						      <li>
								<p><%= @post_texto04g4 %></p>
						      </li>
						  <% end %>
					      <% if @post_texto04g5 != "" %>
						      <li>
								<p><%= @post_texto04g5 %></p>
						      </li>
						  <% end %>
					    </ol>
					</div>

					</div>
					<div class="post-summary"> 	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!--
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-10">
				<div class="blog-post">
					<div class="post-title">
						<h3>Categorias</h3>
					</div>
					<div class="post-title">
						<div class="categorias">
							<button class="btn btn-primary" type="button">
							  Ventas <span class="badge">2</span>
							</button>
						</div>
						<div class="categorias">
							<button class="btn btn-primary" type="button">
							  Imagenes <span class="badge">1</span>
							</button>
						</div>
						<div class="categorias">
							<button class="btn btn-primary" type="button">
							  Productos <span class="badge">1</span>
							</button>
						</div>
						<div class="categorias">
							<button class="btn btn-primary" type="button">
							  Indicadores <span class="badge">1</span>
							</button>
						</div>
						<div class="categorias">
							<button class="btn btn-primary" type="button">
							  Preguntas Frecuentes <span class="badge">1</span>
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12">
				<div class="blog-post">
					<div class="post-title">
						<h3>Categorias</h3>
					</div>
					<div class="post-title">
						<ul class="list-group categorias">
						  <li class="list-group-item list-group-item-info">
						    <span class="badge">02</span>
						    Ventas
						  </li>
						  <li class="list-group-item active">
						    <span class="badge">01</span>
						    Imagenes
						  </li>
						  <li class="list-group-item list-group-item-info">
						    <span class="badge">01</span>
						    Productos
						  </li>
						  <li class="list-group-item list-group-item-info">
						    <span class="badge">01</span>
						    Indicadores
						  </li>
						  <li class="list-group-item list-group-item-info">
						    <span class="badge">01</span>
						    Preguntas Frecuentes
						  </li>
						</ul>
					</div>
				</div>
			</div>

-->