<p id="notice"><%= notice %></p>

<p>
  <strong>Con fecha:</strong>
  <%= @principal.con_fecha %>
</p>

<p>
  <strong>Con nombre:</strong>
  <%= @principal.con_nombre %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @principal.tema %>
</p>

<p>
  <strong>Canalingreso:</strong>
  <%= @principal.canalingreso %>
</p>

<p>
  <strong>Con mail:</strong>
  <%= @principal.con_mail %>
</p>

<p>
  <strong>Mov obs:</strong>
  <%= @principal.mov_obs %>
</p>

<p>
  <strong>Con telefono:</strong>
  <%= @principal.con_telefono %>
</p>

<p>
  <strong>Con mail sn:</strong>
  <%= @principal.con_mail_sn %>
</p>

<p>
  <strong>Con telefono sn:</strong>
  <%= @principal.con_telefono_sn %>
</p>

<%= link_to 'Edit', edit_principal_path(@principal) %> |
<%= link_to 'Back', principals_path %>
