<section id="about">
    <div class="container">
        <div class="section-heading scrollpoint sp-effect3 active animated fadeInDown">
            <h1>txaVision</h1>
            <div class="divider"></div>
            <p>Visualización Remota<br/>Conteo de Personas<br/>Desde su dispositivo Móvil</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect2 active animated fadeInRight">
                    <i class="fa fa-eye fa-2x"></i>
                    <h3>Controla en tu ausencia</h3>
                    <p>Asegúrate que las cosas<br/>se realizan como lo has definido.</p>
			        <%= link_to 'Expliquenme mas', new_principal_path, :class=>"btn btn-outline-inverse btn-lg btn-idx3" %>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect1 active animated fadeInLeft">
                    <i class="fa fa-bar-chart fa-2x"></i>
                    <h3>Contar Personas</h3>
                    <p>Mayor control de tus empleados<br/>Podrás comparar Ventas Vs. Visitas.</p>
			        <%= link_to 'Expliquenme mas', new_principal_path, :class=>"btn btn-outline-inverse btn-lg btn-idx3" %>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect5 active animated fadeInUp">
                    <i class="fa fa-magic fa-2x"></i>
                    <h3>Facil de usar</h3>
                    <p>Podrás visualizar tus locales<br/>desde tu PC, Tablet o Celular.</p>
			        <%= link_to 'Expliquenme mas', new_principal_path, :class=>"btn btn-outline-inverse btn-lg btn-idx3" %>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect5 active animated fadeInDown">
                    <i class="fa fa-bullhorn fa-2x"></i>
                    <h3>Ante Desvíos graves</h3>
                    <p>Ayuda tus empleados, con<br/>indicaciones en forma remota.</p>
			        <%= link_to 'Expliquenme mas', new_principal_path, :class=>"btn btn-outline-inverse btn-lg btn-idx3" %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect2 active animated fadeInRight">
                    <i class="fa fa-check-square-o fa-2x"></i>
                    <h3>Superación</h3>
                    <p>En base al control corrige errores<br/>y mejora los Procesos.</p>
			        <%= link_to 'Expliquenme mas', new_principal_path, :class=>"btn btn-outline-inverse btn-lg btn-idx3" %>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect5 active animated fadeInUp">
                    <i class="fa fa-usd fa-2x"></i>
                    <h3>Incrementa tu Negocio</h3>
                    <p>Podrás tener presencia <br/>en varios locales a la vez.</p>
			        <%= link_to 'Expliquenme mas', new_principal_path, :class=>"btn btn-outline-inverse btn-lg btn-idx3" %>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect5 active animated fadeInDown">
                    <i class="fa fa-coffee fa-2x"></i>
                    <h3>Tranquilidad</h3>
                    <p>Podrás ausentarte de ser necesario,<br/>sin mayores riesgos.</p>
			        <%= link_to 'Expliquenme mas', new_principal_path, :class=>"btn btn-outline-inverse btn-lg btn-idx3" %>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect1 active animated fadeInLeft">
                    <i class="fa fa-line-chart fa-2x"></i>
                    <h3>Libertad</h3>
                    <p>Tendrás más tiempo,<br/>para hacer crecer tu negocio.</p>
			        <%= link_to 'Expliquenme mas', new_principal_path, :class=>"btn btn-outline-inverse btn-lg btn-idx3" %>
                </div>
            </div>
        </div>
    </div>
</section>
