<div id="product-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<section id="about">
    <div class="container">
        <div class="section-heading scrollpoint sp-effect3 active animated fadeInDown">
            <h1>txaShop</h1>
            <div class="divider"></div>
            <p>Diseños de alta Calidad<br/>Fácil de usar y<br/>Fácil de actualizar</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect2 active animated fadeInRight">
                    <i class="fa fa-bolt fa-2x"></i>
                    <h3>Rapida Instalacion</h3>
                    <p>Tendras tu sitio<br/>finalizado en 72hs.</p>
                    <%= link_to "Más Información", new_principal_path(:motivo => "txaShop - Mas Información"), remote: true, class: "btn btn-outline-inverse btn-lg btn-idx3 js-info" %>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect5 active animated fadeInUp">
                    <i class="fa fa-users fa-2x"></i>
                    <h3>Mas Conocido</h3>
                    <p>Tu negocio será más conocido<br/>en tu zona y donde desees.</p>
                    <%= link_to "Tomemos un Cafe", new_principal_path(:motivo => "txaShop - Cafe"), remote: true, class: "btn btn-outline-inverse btn-lg btn-idx3" %>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect1 active animated fadeInLeft">
                    <i class="fa fa-child fa-2x"></i>
                    <h3>Independencia</h3>
                    <p>Actualiza tu sitio sin necesidad<br/>de diseñadores ni programadores.</p>
                    <%= link_to "Llámenme", new_principal_path(:motivo => "txaShop - Llamame"), remote: true, class: "btn btn-outline-inverse btn-lg btn-idx3" %>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect5 active animated fadeInDown">
                    <i class="fa fa-usd fa-2x"></i>
                    <h3>Mas Ganancias</h3>
                    <p>Tu negocio aumentará las ventas<br/>con menos costos.</p>
                    <%= link_to "Tomemos un Cafe", new_principal_path(:motivo => "txaShop - Cafe2"), remote: true, class: "btn btn-outline-inverse btn-lg btn-idx3" %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect2 active animated fadeInRight">
                    <i class="fa fa-check-square-o fa-2x"></i>
                    <h3>Se Adapta a tu negocio</h3>
                    <p>Mas funcionalidad con un solo click<br/>A medida que tu negocio Crece</p>
                    <%= link_to "Explíquenme más", new_principal_path(:motivo => "txaShop - Explicame"), remote: true, class: "btn btn-outline-inverse btn-lg btn-idx3" %>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect5 active animated fadeInUp">
                    <i class="fa fa-thumbs-o-up fa-2x"></i>
                    <h3>Satisfacción</h3>
                    <p>Sentirás orgullo de como luce<br/>tu negocio en Internet.</p>
                    <%= link_to "Llámenme", new_principal_path(:motivo => "txaShop - llamame2"), remote: true, class: "btn btn-outline-inverse btn-lg btn-idx3" %>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect5 active animated fadeInDown">
                    <i class="fa fa-coffee fa-2x"></i>
                    <h3>Tranquilidad</h3>
                    <p>Tendras soporte de profesionales,<br/>en todo momento.</p>
                    <%= link_to "Tomemos un Cafe", new_principal_path(:motivo => "txaShop - Cafe3"), remote: true, class: "btn btn-outline-inverse btn-lg btn-idx3" %>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 ventas1">
                <div class="about-item scrollpoint sp-effect1 active animated fadeInLeft">
                    <i class="fa fa-line-chart fa-2x"></i>
                    <h3>Libertad</h3>
                    <p>Tendrás más tiempo,<br/>para hacer crecer tu negocio.</p>
                    <%= link_to "Más Información", new_principal_path(:motivo => "txaShop - Mas Información2"), remote: true, class: "btn btn-outline-inverse btn-lg btn-idx3" %>
                </div>
            </div>
        </div>
    </div>
</section>